<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Todos</h1>
    <a href="/todos/create/">Add</a>
    {{ range . }}
        <details>
            <summary>{{ .Id }}. {{ .Name }}</summary>
            <p>{{ .Description }}</p>
            <p>{{ .Completed }}</p>
        </details>
    {{ end }}
    
</body>
</html>